<div class="annotation">
    <form id="annotation" class="form-horizontal">
        <fieldset>
            <h4>Sequence</h4>
            <div class="form-group">
                <label class="col-xs-4 control-label" for="sequenceNumber">Number</label>
                <div class="col-xs-8">
                    <input [(ngModel)]="ws.workspace.annotation.number"
                           name="sequenceNumber"
                           type="number" class="form-control" id="sequenceNumber" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label" for="sequenceName">Name</label>
                <div class="col-xs-8">
                    <input [(ngModel)]="ws.workspace.annotation.name"
                           name="sequenceName"
                           type="text" class="form-control" id="sequenceName" />
                </div>
            </div>
            <h4>Video</h4>
            <div class="form-group">
                <label class="col-xs-4 control-label" for="videoIncrement">Increment</label>
                <div class="col-xs-8">
                    <input [(ngModel)]="ws.workspace.annotation.increment"
                           name="videoIncrement"
                           type="text" class="form-control" id="videoIncrement" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label" for="videoCamera">Camera</label>
                <div class="col-xs-8">
                    <input [(ngModel)]="ws.workspace.annotation.camera"
                           name="videoCamera"
                           type="number" class="form-control" id="videoCamera" />
                </div>
            </div>
            <h4>Frame</h4>
            <div class="form-group">
                <label class="col-xs-4 control-label" for="frameNumber">Number</label>
                <div class="col-xs-8">
                    <input [(ngModel)]="ws.workspace.annotation.frames[ws.workspace.currentFrameIndex].frameNumber"
                           name="frameNumber"
                           type="number" class="form-control" id="frameNumber" />
                </div>
            </div>
            <h4>Person</h4>
            <div class="people">
            </div>
            <div class="col-xs-6">
                <button id="addPerson" type="button" class="btn btn-default">Add Person</button>
            </div>
            <div class="col-xs-6">
                <button id="removePerson" type="button" class="btn btn-default">Remove Person</button>
            </div>
        </fieldset>
    </form>
</div>