<header id="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="btn-group pull-left" role="group">
                    <button id="nav-back" type="button" class="btn btn-default" (click)="backPressed()">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                </div>
                <span class="navbar-brand">UoA Annotation Tool</span>
                <div class="indicators pull-right" role="group">
                    <div id="working" class="working" *ngIf="ss.working">
                        <span class="glyphicon glyphicon-spin glyphicon-repeat"></span>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
</header>