/*@import '~bootstrap/dist/css/bootstrap.css';*/
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-material-design/dist/css/bootstrap-material-design';
@import '~bootstrap-material-design/dist/css/ripples';

.crosshair {
    cursor: crosshair !important;
}

html, body, .viewport {
    height: 100%;
    min-height: 600px;
    min-width: 800px;
}

.main {
    height: calc(100% - 60px);
}

#nav-back {
    margin-top: 3px;
    margin-right: 20px;
    color: rgb(255, 255, 255);
}

.navbar {
    margin-bottom: 0;

    .navbar-header {
        float: none;
    }

    .navbar-brand {
        padding: 15px 15px;
        height: 60px;
    }

    .indicators {
        line-height: 60px;

        span {
            padding: 15px;
        }
    }
}

.hub {
    height: 100%;

    .row {
        display: flex;
        flex-direction: row;
        height: 100%;
        box-sizing: border-box;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .hub-item {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        text-align: center;

        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 2;
            font-weight: 700;
        }

        .icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 2;
            font-size: 100px;
        }

        .options {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 8;
        }
    }
}

.hub-start .hub-item {
    background-color: white;
    margin: 0;
}

.annotator {
    height: 100%;
    display: flex;
    flex-direction: column;

    .image-display {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }

    .toolbar {
        margin-bottom: 0;

        .btn-toolbar {
            margin-left: 0;
        }

        .filename {
            display: inline-block;
            margin-top: 20px;
        }
    }

    .frame-navigator {
        .current-frame {
            margin-top: 0;
            padding: 0;

            input {
                margin: 0;
                font-size: 1em;
                text-align: center;
                padding: 0;
                margin-top: -3px;
            }
        }
    }

    .mouse-position .btn {
        width: 92px;
    }

    .control-panel {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;

        fieldset {
            margin-top: 30px;
        }

        .checkbox label {
            text-align: left;
        }

        .form-horizontal .form-group {
            margin: 0;
        }

        .alert {
            margin-bottom: 0;
        }

        .controls {
            padding: 0 20px;
            flex-grow: 1;
            overflow-y: auto;

            input {
                box-sizing: border-box;
            }

            select {
                box-sizing: border-box;
            }
        }
    }

    .frame-canvas {
        display: flex;
        flex-direction: column;

        .os-binding {
            flex-grow: 1;
            height: 100%;
            margin-top: 20px;
            padding: 0;
            background: rgb(0, 0, 0);
        }
    }

    .bottom-toolbar {
        .btn-toolbar {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}

.os-binding {
    background: rgb(0, 0, 0);
}
