/*@import '~bootstrap/dist/css/bootstrap.css';*/
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-material-design/dist/css/bootstrap-material-design';
@import '~bootstrap-material-design/dist/css/ripples';

html, body, .viewport {
    height: 100%;
    min-height: 600px;
    min-width: 800px;
}

#main {
    height: calc(100% - 60px);
}

#nav-back {
    margin-top: 3px;
    margin-right: 20px;
    color: rgb(255, 255, 255);
}

.navbar {
    margin-bottom: 0;
}

.hub {
    height: 100%;
}

.hub .row {
    display: flex;
    flex-direction: row;
    height: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hub .hub-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.hub .hub-item .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
    font-weight: 700;
}

.hub .hub-item .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
    font-size: 100px;
}

.hub .hub-item .options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 8;
}

.hub-start .hub-item {
    background-color: white;
    margin: 0;
}

.annotator {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.annotator .toolbar {
    height: 60px;
    margin-bottom: 0;
}

.annotator .toolbar .btn-toolbar {
    margin-left: 0;
}

.annotator .toolbar .filename {
    display: inline-block;
    margin-top: 20px;
}

.annotator .image-display {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.annotator .frame-navigator .current-frame {
    margin-top: 0;
    padding: 0;
}

.annotator .frame-navigator .current-frame input {
    margin: 0;
    font-size: 1em;
    text-align: center;
    padding: 0;
    margin-top: -3px;
}

.annotator .mouse-position .btn {
    width: 92px;
}

.annotator .control-panel {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.annotator .control-panel .controls {
    padding: 0 20px;
    flex-grow: 1;
    overflow-y: auto;
}

.annotator .control-panel .form-horizontal .form-group {
    margin: 0;
}

.annotator .control-panel .alert {
    margin-bottom: 0;
}

.annotator .control-panel .controls input {
    box-sizing: border-box;
}

.annotator .control-panel .controls select {
    box-sizing: border-box;
}

.annotator .image-canvas-wrapper {
    margin-top: 20px;
    height: calc(100vh - 196px);
    overflow: auto;
}

.annotator .image-panel {
    display: flex;
    flex-direction: column;

    .image-canvas-wrapper {
        flex-grow: 1;
        height: 100%;
    }
}

.annotator .image-canvas-wrapper .image-canvas {
    display: block;
    margin: 0 auto;
    padding: 0;
}

.annotator .bottom-toolbar {
    height: 60px;
}

.annotator .bottom-toolbar .btn-toolbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
