<div class="controls calibration">
    <form id="calibration" class="form-horizontal">
        <fieldset>
            <h4>Calibration Files</h4>
            <div class="form-group is-fileinput">
                <label class="col-xs-4 control-label" for="lensCalibrationFile">Lens Calibration</label>
                <div class="col-xs-8">
                    <file-electron [(ngModel)]="ws.workspace.calibration.lensCalibrationFile"
                                  inputId="lensCalibrationFile"
                                  name="lensCalibrationFile"
                                  placeholder="Select file..."
                                  webkitdirectory="false"></file-electron>
                </div>
            </div>
            <div class="form-group is-fileinput">
                <label class="col-xs-4 control-label" for="perspectiveCalibrationFile">Perspective Calibration</label>
                <div class="col-xs-8">
                    <file-electron [(ngModel)]="ws.workspace.calibration.perspectiveCalibrationFile"
                                  inputId="perspectiveCalibrationFile"
                                  name="perspectiveCalibrationFile"
                                  placeholder="Select file..."
                                  webkitdirectory="false"></file-electron>
                </div>
            </div>
            <h4>Image Origin</h4>
            <div class="coordinates row">
                <div class="col-xs-6 form-group">
                    <label class="col-xs-4 control-label" for="imageOriginX">X</label>
                    <div class="col-xs-8">
                        <input [(ngModel)]="ws.workspace.calibration.imageOriginX"
                               name="imageOriginX"
                               class="form-control" type="number" id="imageOriginX" />
                    </div>
                </div>
                <div class="col-xs-6 form-group">
                    <label class="col-xs-4 control-label" for="imageOriginY">Y</label>
                    <div class="col-xs-8">
                        <input [(ngModel)]="ws.workspace.calibration.imageOriginY"
                               name="imageOriginY"
                               class="form-control" type="number" id="imageOriginY" />
                    </div>
                </div>
                <div class="col-xs-offset-2 col-xs-10">
                    <button (click)="ws.workspace.selectImageOrigin()"
                            id="selectImageOrigin" type="button" class="btn btn-default">Select</button>
                </div>
            </div>
            <div class="coordinates row">
                <div class="col-xs-4 form-group">
                    <div class="checkbox">
                        <label class="col-xs-12">
                            <input [(ngModel)]="ws.workspace.calibration.flipOrigin.x"
                                   name="flipOriginX"
                                   type="checkbox" id="flipOriginX" /> Flip X
                        </label>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="checkbox">
                        <label class="col-xs-12">
                            <input [(ngModel)]="ws.workspace.calibration.flipOrigin.y"
                                   name="flipOriginY"
                                   type="checkbox" id="flipOriginY" /> Flip Y
                        </label>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div class="checkbox">
                        <label class="col-xs-12">
                            <input [(ngModel)]="ws.workspace.calibration.switchOrigin"
                                   name="switchOrigin"
                                   type="checkbox" id="switchOrigin" /> Switch X-Y
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>