<div class="calibration">
    <form id="calibration" class="form-horizontal">
        <fieldset>
            <h4>Calibration Files</h4>
            <div class="form-group is-fileinput">
                <label class="col-xs-2 control-label" for="lensCalibrationFile">Lens Calibration</label>
                <div class="col-xs-10">
                    <file-electron [(ngModel)]="calibration.lensCalibrationFile"
                                   inputId="lensCalibrationFile"
                                   name="lensCalibrationFile"
                                   placeholder="Select file..."
                                   webkitdirectory="false"></file-electron>
                </div>
            </div>
            <div class="form-group is-fileinput">
                <label class="col-xs-2 control-label" for="perspectiveCalibrationFile">Perspective Calibration</label>
                <div class="col-xs-10">
                    <file-electron [(ngModel)]="calibration.perspectiveCalibrationFile"
                                   inputId="perspectiveCalibrationFile"
                                   name="perspectiveCalibrationFile"
                                   placeholder="Select file..."
                                   webkitdirectory="false"></file-electron>
                </div>
            </div>
            <div class="form-group is-fileinput">
                <label class="col-xs-2 control-label" for="zoneFile">Zone Configuration</label>
                <div class="col-xs-10">
                    <file-electron [(ngModel)]="calibration.zoneFile"
                                   inputId="zoneFile"
                                   name="zoneFile"
                                   placeholder="Select file..."
                                   webkitdirectory="false"></file-electron>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <h4>Room Size</h4>
            <div class="coordinates row">
                <div class="col-sm-6 form-group">
                    <label class="col-xs-2 control-label" for="imageOriginX">X</label>
                    <div class="col-xs-10">
                        <input [(ngModel)]="calibration.roomSizeX"
                               name="roomSizeX"
                               class="form-control" type="number" id="roomSizeX" />
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <label class="col-xs-2 control-label" for="roomSizeY">Y</label>
                    <div class="col-xs-10">
                        <input [(ngModel)]="calibration.roomSizeY"
                               name="roomSizeY"
                               class="form-control" type="number" id="roomSizeY" />
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <h4>Image Origin</h4>
            <div class="coordinates row">
                <div class="col-sm-6 form-group">
                    <label class="col-xs-2 control-label" for="imageOriginX">X</label>
                    <div class="col-xs-10">
                        <input [(ngModel)]="calibration.imageOriginX"
                               (ngModelChange)="visualPropertyChange()"
                               name="imageOriginX"
                               class="form-control" type="number" id="imageOriginX" />
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <label class="col-xs-2 control-label" for="imageOriginY">Y</label>
                    <div class="col-xs-10">
                        <input [(ngModel)]="calibration.imageOriginY"
                               (ngModelChange)="visualPropertyChange()"
                               name="imageOriginY"
                               class="form-control" type="number" id="imageOriginY" />
                    </div>
                </div>
                <div class="col-xs-offset-2 col-xs-10">
                    <button (click)="ws.settings.tool = 'imageOrigin'"
                            id="selectImageOrigin" type="button" class="btn btn-default">
                        Select
                    </button>
                </div>
            </div>
            <div class="coordinates row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-3 form-group">
                    <div class="checkbox">
                        <label class="col-xs-12">
                            <input [(ngModel)]="calibration.flipOrigin.x"
                                   name="flipOriginX"
                                   type="checkbox" id="flipOriginX" /> Flip X
                        </label>
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="checkbox">
                        <label class="col-xs-12">
                            <input [(ngModel)]="calibration.flipOrigin.y"
                                   name="flipOriginY"
                                   type="checkbox" id="flipOriginY" /> Flip Y
                        </label>
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="checkbox">
                        <label class="col-xs-12">
                            <input [(ngModel)]="calibration.switchOrigin"
                                   name="switchOrigin"
                                   type="checkbox" id="switchOrigin" /> Switch X-Y
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>