<div class="annotator container-fluid">
    <div class="toolbar panel row">
        <div class="col-xs-12">
            <div class="btn-toolbar" role="toolbar">
                <span class="filename h4">Filename</span>
                <div class="btn-group pull-right" role="group">
                    <button id="saveAnnotation" type="button" class="btn btn-raised btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="image-display row">
        <frame-canvas class="frame-canvas col-xs-8"></frame-canvas>
        <control-panel class="control-panel panel col-xs-4"></control-panel>
    </div>
</div>