<div class="settings">
    <form id="settings" class="form-horizontal" action="#">
        <fieldset>
            <h4>Annotation Copy</h4>
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-5 form-group">
                    <div class="checkbox">
                        <label class="col-xs-12">
                            <input [(ngModel)]="settings.copyBox"
                                   name="copyBox"
                                   type="checkbox" /> Copy box
                        </label>
                    </div>
                </div>
                <div class="col-xs-5 form-group">
                    <div class="checkbox">
                        <label class="col-xs-12">
                            <input [(ngModel)]="settings.copyLocation"
                                   [disabled]="settings.mode === 'location'"
                                   name="copyLocation"
                                   type="checkbox" /> Copy location
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <h4>Annotation Mode</h4>
            <div class="form-group">
                <label for="mode" class="col-md-2 control-label">Annotation Mode</label>
                <div class="col-md-10">
                    <select [(ngModel)]="settings.mode"
                            name="mode"
                            id="mode" class="form-control">
                        <option value="mixed" selected>Mixed</option>
                        <option value="location">Location</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </form>
</div>