<div class="control-panel">
    <ul class="nav nav-tabs nav-justified">
        <li><a id="calibrationTab" data-toggle="tab" data-control="calibration" href="#/annotator" (click)="changeControls($event)">Calibration</a></li>
        <li><a id="annotationTab" data-toggle="tab" data-control="annotation" href="#/annotator" (click)="changeControls($event)">Annotation</a></li>
        <li><a id="settingsTab" data-toggle="tab" data-control="settings" href="#/annotator" (click)="changeControls($event)">Settings</a></li>
    </ul>
    <div [hidden]="ws.workspace.calibration.calibrated" class="alert alert-warning text-center">
        <h4>Not calibrated. Auto infer real location not functional.</h4>
    </div>
    <div class="controls">
        <calibration-control *ngIf="currentControl === 'calibration'"></calibration-control>
        <annotation-control *ngIf="currentControl === 'annotation'"></annotation-control>
        <settings-control *ngIf="currentControl === 'settings'"></settings-control>
    </div>
</div>
