<div class="control-panel panel col-xs-4">
    <ul class="nav nav-tabs nav-justified">
        <li><a id="calibrationTab" data-toggle="tab" href="#">Calibration</a></li>
        <li><a id="annotationTab" data-toggle="tab" href="#">Annotation</a></li>
        <li><a id="settingsTab" data-toggle="tab" href="#">Settings</a></li>
    </ul>
    <div class="alert alert-warning text-center">
        <h4>Not calibrated. Auto infer real location not functional.</h4>
    </div>
    <router-outlet name="controls"></router-outlet>
</div>
